## OS specific ########
.DS_Store

## Project files ######
.pio
.clang_complete
.gcc-flags.json
.DS_Store
.vscode/settings.json
.vscode/launch.json
.vscode/extensions.json
.vscode/c_cpp_properties.json
.travis.yml
__pycache__/
*.pyc

connect.txt
zTest/
TODO.txt
# Local build secrets
include/local_secrets.h

build/artifacts/*
!build/artifacts/.gitkeep

# Generated release artifacts
/release/
